<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles.css">
</head>
	<body>

		<form action="../" method="post">
			<div style="text-align:center">
				<label for="titleInput">Something something words</label><br>
				<canvas width="350" height="400" name="music" id="musicTxt" style="border:1px solid #F75D59;"></canvas><br>
			<div>
			Select a file:<input type"file" name="music" id="musicFile">
			</div>
			<div text-align="center" class="button">
				<button type="submit">Submit</button>
			</div>
		</form>
	</body>
</html>

